@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



$color-priamry: #56C4C5;
$color-white: #FFF;
$color-black: #221E1F;
$color-gray: #747474;
$color-pink: #FF5D50;
$background-gray: #F5F5F5;

// 修改Swiper樣式
:root {
    --swiper-theme-color: #FFD153;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}

.swiper-pagination-bullet-active {
    width: 16px;
    height: 10px;
    border-radius: 50px;
}




*,*::after,*::before{
    box-sizing: border-box;
    transition: .2s linear;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

a{
    display: block;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

img{
    display: block;
}

.color-priamry{
    color: $color-priamry;
}

.color-black{
    color: $color-black;
}

.top-btn{
    position: fixed;
    bottom: 23px;
    right: 48px;
    z-index: 100;
    display:none;
    a{
        background: $color-priamry;
        width: 71px;
        height: 71px;
        line-height: 71px;
        border-radius: 50px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    
}

.cost-btn{
    border-radius: 25px;
    color: $color-white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    &.bg-pink{
        background-color: $color-pink;
        padding: 8px 32px;
        &:hover{
            background:$color-priamry;
            color: $color-white;
        }
    }
    &.bg-priamry{
        background-color: $color-priamry;
        padding: 12px 32px;
        &:hover{
            background:$color-pink;
            color: $color-white;
        }
    }
    &.bd-priamry{
        border: 1px solid $color-priamry;
        color: $color-priamry;
        padding: 12px 32px;
        &.active,
        &:hover{
            background:$color-priamry;
            color: $color-white;
        }
    }
}

.fs-small{
    font-size: 12px;
}






.wrap{
    position: relative;
    height: 100%;
}

.bg_home_img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
    max-width: 851px;
    max-height: 768px;
}

.ball01_img img{
    position: absolute;
    top: 589px;
    left: -222px;
    z-index: -5;
    width: 360px;
}

.container{
    margin: 0 auto;
    max-width: 1088px;
}

header{
    &.vh-100{
        height: 100vh;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 218.06px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .content{
            margin-top: 158px;
            width: calc( 100% - 532px );
            &.forPrice{
                margin-top: 112px;
                margin-bottom: 280px;
            }
            h1.title{
                color: $color-priamry ;
                font-size: 18px;
                font-weight: 700;
            }
            h3{
                color: $color-black; 
                font-size: 48px;
                font-weight: 700;
                line-height: 1.5;
                margin-top: 8px;
            }
            p{
                color: $color-black;
                font-size: 20px;
                margin-top: 16px;
            }
            h1.price-title{
                font-size: 48px;
                font-weight: 700;
            }
        }  
        .home_img{
            margin-top: 118px;
            width: 532px;
        }
        .banner_img{
            .img{
                max-width: 885px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -10;
            }
            .img_sm{
                display: none;
            }
        }
        .banner_bg{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -15;
            width: 100%;
            height: 470px;
            background: #F7F9FD 0% 0% no-repeat padding-box;
            border-radius: 0px 0px 0px 300px;
        }
    }
}

.section_1{
    max-width: 969px;
    margin: 0px auto 100px auto;
    h2{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 48px;
    }
}

.section_1{
    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        column-gap: 1rem;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc( (100%-40px) / 3 );
            .app_icon{
                width: 90px;
            }
            h3{
                color: $color-black;
                font-size: 24px;
                font-weight: 700;
                margin-top: 24px;
                margin-bottom: 24px;
            }
            p{
                color: $color-gray;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
}

.section_2{
    margin: 0px auto 100px auto;
    h2{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .description{
        font-size: 20px;
        margin-bottom: 48px;
        text-align: center;
    }
    .cards{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        .card{
            text-align: center;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 10px;
            width: calc(( 100% - 48px) / 4);
            background-color: $color-white;
            .ch_img{
                border-radius: 10px 10px 0 0;
            }
            h3{
                color: $color-priamry;
                font-size: 16px;
                font-weight: 700;
                margin: 16px auto;
            }
            .content{
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 24px;
            }
        }
    }
}

.section_3{
    display: flex;
    align-items: center;
    .cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            width: calc(( 100% - 48px) / 2);
            margin-bottom: 28px;
            .icon_img{
                width: 86px;
                height: 86px;
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 52px;
                margin: 32px 0 32px 32px;
            }
            .icon1{
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon01.svg");
            }
            .icon2{
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon02.svg");
            }
            .icon3{
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon03.svg");
            }
            .icon4{
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon04.svg");
            }
            h3{
                font-size: 18px;
                font-weight: 700;
                margin-left: 32px;
            }
            .content{
                font-size: 16px;
                line-height: 1.5;
                margin: 16px 32px 48px;
            }
        }
    }
    .title_box{
        margin-left: 137px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2{
            font-size: 32px;
            font-weight: 700x;
            margin-bottom: 16px;
        }
        .description p{
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 24px;
        }
    }
}


.section_4{
    margin: 100px auto 48px auto;
    position: relative;
    padding-bottom: 34px;
    h2{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 104px;
    }
    .cards{
        display: flex;
        column-gap: 16px;
        .card{
            width: calc(( 100% - 32px) / 3);
            .user_img{
                border-radius: 50%;
                width: 80px;
                margin-left: 32px;
            }
            .content{
                    box-shadow: 0px 2px 10px #00000014;
                    border-radius: 12px;
                    margin: -24px 8px 5px;
                    font-size: 16px;
                    line-height: 1.5;
                    padding: 48px 32px 24px;
                .txt_1{
                    padding-bottom: 24px;
                    border-bottom: 1px solid #DDDDDD;
                }
                .txt_2{
                    font-weight: 700;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
                .txt_3{
                    display: flex;
                    justify-content: space-between;
                }
                .icon_stars{
                    display: flex;
                    column-gap: 0.3rem;
                    img{
                        width: 16px;
                        }
                }
            }
        }
        // .card{
        //     width: calc(( 100% - 32px) / 3);
        //     position: relative;
        //     box-shadow: 0px 2px 10px #00000014;
        //     border-radius: 12px;
        //     .user_img{
        //         border-radius: 50%;
        //         width: 80px;
        //         position: absolute;
        //         top: -56px;
        //         left: 32px;
        //     }
        //     .content{
        //         font-size: 16px;
        //         line-height: 1.5;
        //         padding: 48px 32px 24px;
        //     }
        //     .txt_1{
        //         padding-bottom: 24px;
        //         border-bottom: 1px solid #DDDDDD;
        //     }
        //     .txt_2{
        //         font-weight: 700;
        //         padding-top: 24px;
        //         padding-bottom: 8px;
        //     }
        //     .txt_3{
        //         display: flex;
        //         justify-content: space-between;
        //     }
        //     .icon_stars{
        //         display: flex;
        //         column-gap: 0.3rem;
        //         img{
        //             width: 16px;
        //         }
        //     }
        // }
    }
    //.page_dot{
    //    display: flex;
    //    justify-content: center;
    //    column-gap: 8px;
    //    margin-top: 24px;
    //    .dot{
    //        width: 10px;
    //        height: 10px;
    //        background: #DDDDDD 0% 0% no-repeat padding-box;
    //        border-radius: 50px;
    //    }
    //}
}



.footer{
    position: relative;
    .footer_img{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .footer_img_sm{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        p{
            font-size: 32px;
            font-weight: 700;
            margin: 20% auto 48px;
        }
        a{
            margin: 0 auto 112px;
        }
    }
    .footer_txt{
        background: #F5F5F5;
        p{
            font-size: 16px;
            padding: 16px;
            text-align: center;
        }
    }
}



div.container::before{
    content: '';
    position: absolute;
    top: 1500px;
    right: 0;
    width: 200px;
    height: 361px;
    background-size: 361px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg");
    background-repeat: no-repeat;
    z-index: -100;
}


// price.html
main.container::before{
    content: '';
    position: absolute;
    top: 876px;
    left: -267px;
    width: 361px;
    height: 361px;
    background-size: 100%;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    z-index: -100;
}


.program_detail{
    max-width: 909px;
    margin: 0 auto 100px;
    .program{
        h2{
           text-align: center;
           font-size: 32px;
           font-weight: 700; 
           margin-bottom: 48px;
        }
        .price_list{
            margin: 0 86px 54px;
            display: flex;
            justify-content: space-between;
        }
    }
    .program_cards{
        display: flex;
        justify-content: space-between;
        .card{
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            background-color: $color-white;
            .title{
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                padding: 16px 24px;
                border-bottom: 1px solid #DDDDDD;;
            }
            .description{
                font-size: 16px;
                text-align: center;
                margin: 32px 16px;
            }
            .price_info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 29px 32px;
                .user_num{
                    background: #f5f5f5;
                    border-radius: 12px;
                    padding: 24px 32px;
                    text-align: center;
                    p{
                        margin-top: 8px;
                        font-size: 32px;
                        span{
                            display: inline-block;
                            padding-left: 8px;
                        }
                    }
                }
                .equal{
                    margin: auto 21px;
                }
            }
            .detail{
                li{
                    display: flex;
                    margin-left: 29px;
                    margin-bottom: 16px;
                    img{
                        margin-right: 13px;
                        width: 20px;
                    }
                }
            }
            .cost-btn{
                margin: 32px 154px;
            }
        }
    }
}

.common_question{
    width: 904px;
    margin: 0 auto 100px;
    h2{
        text-align: center;
        font-size: 32px;
        font-weight: 700; 
        margin-bottom: 48px;
    }
    .question_list{
        .txt{
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            padding: 16px 32px;
            &:not(:last-child){
                margin-bottom: 16px;
            }
            .question{
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                .plus-minus{
                    width: 20px;
                    cursor: pointer;
                }
                &.active{
                    color: $color-priamry;
                    font-weight: 700;
                    padding-bottom: 24px;
                }
            }
            .answer{
                color: $color-gray;
                font-size: 16px;
                line-height: 2;
            }
        }
    }
}































































@media (max-width: 992px){
    header{
        margin-bottom: 92px;
        .logo{
            margin-left: 20px;
        }
        .cost-btn{
            margin-right: 20px;
        }
        .banner{
            display: flex;
            flex-direction: column;
            .content{
                margin-top: 32px;
                max-width: 451px;
                width: 100%;
            }  
            .home_img{
                margin-top: 32px;
                max-width: 451px;
                width: 100%;
            } 
        }
    }
    .section_3{
        margin: 0 20px;
        .title_box{
            margin-left: 50px;
        }
    }
    .section_4{
        .cards{
            padding-left: 10px;
            padding-right: 10px;
            .card{
                .content{
                    margin: -24px 10px 5px;
                }
            }
        }
        
    }
    .footer{
        .content{
            p{
                font-size: 28px;
                margin-bottom: 24px;
            }
            a{
                margin: 0 auto 60px;
            }
        }
    }
    .program_detail{
        margin: 0 auto 100px;
        .program{
            h2{
               margin-bottom: 24px;
            }
            .price_list{
                margin: 0 16px 32px;
                justify-content: space-between;
                column-gap: 16px;
                overflow-x: auto;
                padding-bottom: 8px;
                &::-webkit-scrollbar {
                    height: 5px;
                }
                &.price_list::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    background-color: rgba(86,196,197,0.8);
                }
                &::-webkit-scrollbar-track{
                    border-radius: 5px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                }
                a{
                    white-space: nowrap;
                }
            }
        }
        .program_cards{
            justify-content: center;
            column-gap: 16px;
            .card{
                max-width: 335px;
                .title{
                    padding: 16px;
                }
                .description{
                    margin: 24px 16px;
                }
                .price_info{
                    margin: 0 27px 16px;
                    .user_num{
                        padding: 16px 24px;
                        p{
                            font-size: 28px;
                            span{
                                padding-left: 4px;
                            }
                        }
                    }
                    .equal{
                        margin: auto 6px;
                    }
                }
                .detail{
                    li{
                        margin-left: 16px;
                        img{
                            width: 16px;
                        }
                    }
                }
                .cost-btn{
                    margin: 24px 99px;
                }
            }
        }
    }
    .common_question{
        width: 700px;
    }
}

@media (max-width: 768px){
    .bg_home_img{
        display: none;
    }
    .ball01_img img{
        top: 770px;
        left: -90px;
        width: 180px;
    }
    div.container::before{
        top: 2200px;
        width: 100px;
        height: 235px;
        background-size: 235px;
    }
    main.container::before{
        top: 1100px;
        left: -180px;
        width: 280px;
        height: 280px;
    }
    header{
        height: 100%;
        .header{
            border-bottom: 2px solid #FFD153;
        }
        .home_img{
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
            background-position: center 80px;
            background-size: 95%;
            background-repeat: no-repeat;
        }
        .banner{
            position: relative;
            .banner_img{
                .img{
                    max-width: 650px;
                }
            }
            .banner_bg{
                height: 350px;;
            }
        }
    }
    .section_1{ 
        .cards{
            flex-wrap: wrap;
            .card{
                width: 720px;
                margin-bottom: 24px;
                .app_icon{
                    width: 90px;
                }
                h3{
                    color: $color-black;
                    font-size: 24px;
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
                p{
                    color: $color-gray;
                    font-size: 16px;
                }
            }
        }
    }
    .section_2{
        margin: 0px auto 36px auto;
        .cards{
            flex-wrap: wrap;
            .card{
                width: calc(( 100% - 48px) / 2);
                margin-bottom: 24px;
            }
        }
    }
    .section_3{
        flex-direction: column-reverse;
        .title_box{
            margin-bottom: 32px;
        }
    }
    .program_detail{
        .program_cards{
            flex-wrap: wrap;
            .card{
                max-width: 335px;
                &:first-child{
                    margin-bottom: 16px;
                }
            }
        }
    }
    .common_question{
        width: 335px;
    }
}


@media (max-width: 375px){
    .ball01_img img{
        width: 126px;
        top: 743px;
        left: -77px;
    }
    main.container::before{
        top: 1236px;
        left: -108px;
        width: 204px;
        height: 204px;
    }
    div.container::before{
        top: 3550px;
        width: 88px;
        height: 135px;
        background-size: 135px;
    }
    header{
        .header{
            .logo{
                width: 130.84px;
            }
            .cost-btn{
                max-width: 128px;
                width: 100%;
            }
        }
        .banner{
            flex-direction: column;
            .content{
                margin-top: 32px;
                max-width: 335px;
                width: 100%;
                h1{
                    font-size: 16px;
                }
                h3{
                    font-size: 32px;
                }
                p{
                    font-size: 16px;
                }
            }  
            .home_img{
                margin-top: 32px;
                max-width: 304.32px;
                width: 100%;
            } 
            .banner_img{
                .img{
                    display: none;
                }
                .img_sm{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 375px;
                    width: 100%;
                    z-index: -10;
                }
            }
        }
    }
    .section_2{
        h2{
            font-size: 28px;
        }
        .description{
            font-size: 18px;
        }
        .cards{
            flex-wrap: wrap;
            .card{
                width: calc(( 100% - 48px) / 1);
                .description{
                    margin-bottom: 32px;
                }
            }
        }
    }
    .section_3{
        .cards{
            .card{
                width: 100%;
                margin: 0 52px 32px;
            }
        }
    }
    .footer{
        .footer_img{
            display: none;
        }
        .footer_img_sm{
            display: block;
            width: 100%;
        }
        .content{
            p{
                font-size: 24px;
            }
        }
    } 
    .common_question{
        margin: 0 auto 60px;
        h2{
            font-size: 28px;
            margin-bottom: 32px;
        }
        .question_list{
            .txt{
                padding: 16px;
                .question{
                    font-size: 16px;
                    .plus-minus{
                        width: 16px;
                    }
                    &.active{
                        padding-bottom: 16px;
                    }
                }
            }
        }
    }
}








